<%= form_with model: recruit, url: recruitments_later_create_path, method: :post, local: :true do |f| %>
  <div class="item-wrap">
    <p class="item-title">募集人数</p>
    <p>※参加人数が募集人数を超えると自動で募集を終了します。</p>
    <%= f.select :close_condition_count, (1..15).to_a, {}, class: 'item-select' %>
  </div>
  <div class="item-wrap">
    <p class="item-title">希望開始時間</p>
    <%= f.select :start_at_hour_top, (0..23).to_a.map { |v| "%02d" % v }, {}, class: 'item-select' %> :
    <%= f.select :start_at_minute_top, [0,15,30,45].map { |v| "%02d" % v }, {}, class: 'item-select' %> ~
    <%= f.select :start_at_hour_bottom, (0..23).to_a.map { |v| "%02d" % v }, {}, class: 'item-select' %> :
    <%= f.select :start_at_minute_bottom, [0,15,30,45].map { |v| "%02d" % v }, {}, class: 'item-select' %>
  </div>
  <div class="item-wrap">
    <p class="item-title">希望終了時間</p>
    <%= f.select :end_at_hour_top, (0..23).to_a.map { |v| "%02d" % v }, {}, class: 'item-select' %> :
    <%= f.select :end_at_minute_top, [0,15,30,45].map { |v| "%02d" % v }, {}, class: 'item-select' %> ~
    <%= f.select :end_at_hour_bottom, (0..23).to_a.map { |v| "%02d" % v }, {}, class: 'item-select' %> :
    <%= f.select :end_at_minute_bottom, [0,15,30,45].map { |v| "%02d" % v }, {}, class: 'item-select' %>
  </div>
  <div class="item-wrap">
    <p class="item-title">希望場所</p>
    <%= f.text_field :place, class:"item-text", placeholder:"最大 20文字まで", maxlength:"20" %>
  </div>
  <div class="item-wrap">
    <p class="item-title">ひとこと</p>
    <%= f.text_field :message, class:"item-text", placeholder:"最大 20文字まで", maxlength:"20" %>
  </div>

  <%= f.submit "作成" ,class:"sell-btn" %>
<% end %>