<% if current_user.my_recruit?(recruit) %> <%# 自身の募集であればIDを付与 %>
  <div class="recruit-wrap" id="current_user_recruit">
<% else %>
  <div class="recruit-wrap">
<% end %>
  <% if recruit.close? %>
    <div class="close-label">募集が終了しました</div>
  <% end %>
  <div class="recruit-detail">
    <%= image_tag recruit.user.image.variant(combine_options:{gravity: :center, resize:"75x75^", crop:"75x75+0+0"}).processed, class: "recruit-user-image" %>
    <% if recruit.later.present? %> <%# 募集タイプが「これから」の場合 %>
      <%= render partial: "later", locals: {recruit: recruit} %>
    <% else %>  <%# 募集タイプが「いま」の場合 %>
      <%= render partial: "now", locals: {recruit: recruit} %>
    <% end %>
    <div class="menu-btn-wrap">
      <% if current_user.my_recruit?(recruit) %> <%# 自身の募集であれば表示 %>
        <i id="menu-btn" class="fas fa-ellipsis-v menu-btn"></i>
        <div id="recruit-menu-content" class="recruit-menu-content">
          <% if recruit.later.present? %> <%# 募集タイプが「これから」の場合 %>
            <div class="recruit-menu-item" id="edit-later">編集</div>
          <% else %>  <%# 募集タイプが「いま」の場合 %>
            <div class="recruit-menu-item" id="edit-now">編集</div>
          <% end %>
          <% if recruit.close? %>  <%# 募集が終了している場合 %>
            <div class="recruit-menu-item" id="close" data-status="restart">募集再開</div>
          <% else %>  <%# 募集が終了していない場合 %>
            <div class="recruit-menu-item" id="close" data-status="close">募集終了</div>
          <% end %>
          <%= link_to "募集削除", recruitments_destroy_path, method: :delete, class: "recruit-menu-item" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="entry-wrap">
    <i class="fas fa-user-circle entry-count" data-recruit-id=<%= recruit.id %>><span id="entry-num"><%= recruit.entries.length %>/</span><span id="recruit-count"><%= recruit.close_condition_count %></span></i>
    <% if current_user.recruit? %> <%# ログインユーザーが募集をしていれば表示 %>

      <% if current_user.my_recruit?(recruit) %> <%# 自身の募集であれば表示 %>
        <%= link_to "マイ募集ルームへ", recruitment_path(recruit), class: "btn recruit-room-btn" %>
      <% else %> <%# 自身の募集でなければ表示 %>
        <div class="disable recruit-room-btn">マイ募集が存在する間は参加できません</div>
      <% end %>

    <% else %> <%# ログインユーザーが募集をしていなければ表示 %>

      <% if current_user.entry? %> <%# ログインユーザーが参加をしていれば表示 %>
        <% if current_user.my_entry?(recruit) %> <%# 自身が参加している募集であれば表示 %>
          <%= link_to "参加中のルームへ", recruitment_path(recruit), class: "btn recruit-room-btn" %>
        <% else %> <%# 自身が参加している募集でなければ表示 %>
          <div class="disable entry-btn">他の募集に参加中</div>
        <% end %>
      <% elsif !recruit.close? %> <%# ログインユーザーが参加をしていない、かつ、募集終了していなければ表示 %>
        <%= link_to "参加", recruitment_entries_path(recruit), method: :post, class: "btn entry-btn" %>
      <% end %>

    <% end %>
  </div>
</div>