<% if current_user.id == recruit.user_id %> <%# 自身の募集であればIDを付与 %>
  <div class="recruit-wrap" id="current_user_recruit">
<% else %>
  <div class="recruit-wrap">
<% end %>
  <div class="recruit-detail">
    <%= image_tag recruit.user.image.variant(combine_options:{gravity: :center, resize:"75x75^", crop:"75x75+0+0"}).processed, class: "recruit-user-image" %>
    <% if recruit.later != nil %> <%# 募集タイプが「これから」の場合 %>
      <%= render partial: "later", locals: {recruit: recruit} %>
    <% else %>  <%# 募集タイプが「いま」の場合 %>
      <%= render partial: "now", locals: {recruit: recruit} %>
    <% end %>
    <div class="menu-btn-wrap">
      <% if current_user.id == recruit.user_id %> <%# 自身の募集であれば表示 %>
        <i id="menu-btn" class="fas fa-ellipsis-v menu-btn"></i>
        <div id="recruit-menu-content" class="recruit-menu-content">
          <% if recruit.later != nil %> <%# 募集タイプが「これから」の場合 %>
            <div class="recruit-menu-item" id="edit-later">編集</div>
          <% else %>  <%# 募集タイプが「いま」の場合 %>
            <div class="recruit-menu-item" id="edit-now">編集</div>
          <% end %>
          <a href="#" class="recruit-menu-item">募集終了</a>
          <%# <a href="#" class="recruit-menu-item">募集削除</a> %>
          <%= link_to "募集削除", recruitments_destroy_path, method: :delete, class: "recruit-menu-item" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="entry-wrap">
    <% if current_user.id == recruit.user_id %> <%# 自身の募集であれば表示 %>
      <i class="fas fa-user-circle entry-count"><span id="entry-num">0/</span><span id="recruit-count"><%= recruit.close_condition_count %></span></i>
    <% else %>
      <i class="fas fa-user-circle entry-count"><span id="entry-num">0</span></i>
    <% end %>
    <% unless Recruit.recruit?(current_user) %> <%# ログインユーザーが募集をしていなければ表示 %>
      <div class="btn entry-btn">参加</div>
      <%# <div class="disable entry-btn">他の募集に参加中</div> %>
      <%# <div class="btn recruit-room-btn">参加中のルームへ</div> %>
    <% else %>
      <% if current_user.id == recruit.user_id %> <%# 自身の募集であれば表示 %>
        <%# <div class="btn recruit-room-btn">マイ募集ルームへ</div> %>
        <%= link_to "マイ募集ルームへ", recruitment_path(recruit), class: "btn recruit-room-btn" %>
      <% else %> <%# 自身の募集でなければ表示 %>
        <div class="disable recruit-room-btn">マイ募集が存在する間は参加できません</div>
      <% end %>
    <% end %>
  </div>
</div>