<%= render partial: 'shared/header', locals: { page_name: "募集一覧" } %>

<div class="main">
  <div class="recruits-container">

    <% if current_user.matchers.length <= 0 %> <%# フレンドが存在しない時 %>
      <div class="no-friends">
        <p>
          フレンドになったユーザーの募集が表示されます。<br>まずはフレンドを追加しましょう。
        </p>
        <%= link_to "フレンドを追加する", friends_path, class: "btn" %>
      </div>
    <% else %> <%# フレンドが存在する時 %>
      <% if @recruits_of_friend.length <= 0 %> <%# 募集が存在しない時 %>
        <div class="no-recruits">
          <p>本日はまだ誰も募集していません。</p>
        </div>
      <% else %> <%# 募集が存在する時 %>
        <%= render partial: "recruit", collection: @recruits_of_friend %>
      <% end %>
      <div class="back" id="back"></div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>