<%= render partial: 'shared/header', locals: { page_name: "飲募一覧" } %>

<div class="main">
  <div class="recruits-container">

    <% if current_user.matchers.length <= 0 %> <%# フレンドが存在しない時 %>
      <div class="no-friends">
        <p>
          フレンドになったユーザーの飲募が表示されます。<br>まずはフレンドを追加しましょう。<br>
          <span>※飲募(ノミボ)・・・飲み仲間の募集</span>
        </p>
        <%= link_to "フレンドを追加する", friends_path, class: "btn" %>
      </div>
    <% else %> <%# フレンドが存在する時 %>
      <% if @recruits_of_friend.length <= 0 %> <%# 募集が存在しない時 %>
        <div class="no-recruits">
          <p>本日はまだ誰も飲募していません。</p>
          <%= link_to "飲募する", root_path, class: "btn" %>
        </div>
      <% else %> <%# 募集が存在する時 %>
        <%= render partial: "recruit", collection: @recruits_of_friend %>

        <div class="back">
          <form action="/recruitments/later/create" accept-charset="UTF-8" method="post">
            <div class="recruits-container center">
              <div class="recruit-wrap">
                <div class="recruit-detail">
                  <img class="recruit-user-image" src="images/test_image.png" style="width: 75px; height: 75px; object-fit: cover;">
                  <div class="recruit-info">
                    <div class="info-top">
                      <div class="recruit-user-name">もりもり<span>ID: 2</span></div>
                      <div class="recruit-type later">これから</div>
                    </div>
                    <ul class="info-bottom">
                      <li>
                        <div class="recruit-item">募集人数<span>※満たされると自動で募集を終了します。<span></div>
                        <div class="recruit-value">
                          <select class="item-select" name="recruit_later[close_condition_count]" id="recruit_later_close_condition_count">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                          </select>人
                        </div>
                      </li>
                      <li>
                        <div class="recruit-item">希望開始時間</div>
                        <div class="recruit-value">
                          <select class="item-select" name="recruit_later[start_at_hour_top]" id="recruit_later_start_at_hour_top">
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                          </select> :
                          <select class="item-select" name="recruit_later[start_at_minute_top]" id="recruit_later_start_at_minute_top">
                            <option value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                          </select> ~ 
                          <select class="item-select" name="recruit_later[start_at_hour_bottom]" id="recruit_later_start_at_hour_bottom">
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                          </select> :
                          <select class="item-select" name="recruit_later[start_at_minute_bottom]" id="recruit_later_start_at_minute_bottom">
                              <option value="00">00</option>
                              <option value="15">15</option>
                              <option value="30">30</option>
                              <option value="45">45</option>
                            </select>
                         </div>
                      </li>
                      <li>
                        <div class="recruit-item">希望終了時間</div>
                        <div class="recruit-value">
                          <select class="item-select" name="recruit_later[end_at_hour_top]" id="recruit_later_end_at_hour_top">
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                          </select> :
                          <select class="item-select" name="recruit_later[end_at_minute_top]" id="recruit_later_end_at_minute_top">
                            <option value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                          </select> ~ 
                          <select class="item-select" name="recruit_later[end_at_hour_bottom]" id="recruit_later_end_at_hour_bottom">
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                          </select> :
                          <select class="item-select" name="recruit_later[end_at_minute_bottom]" id="recruit_later_end_at_minute_bottom">
                            <option value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                          </select>
                        </div>
                      </li>
                      <li>
                        <div class="recruit-item">希望場所</div>
                        <div class="recruit-value">
                          <input class="item-text" placeholder="最大 20文字まで" maxlength="20" size="20" type="text" name="recruit_later[place]" id="recruit_later_place">
                        </div>
                      </li>
                      <li>
                        <div class="recruit-item">ひとこと</div>
                        <div class="recruit-value">
                          <input class="item-text" placeholder="最大 20文字まで" maxlength="20" size="20" type="text" name="recruit_later[message]" id="recruit_later_message">
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="menu-btn-wrap"></div>
                </div>
                <div class="entry-wrap">
                  <div class="btn return-btn">戻る</div>
                  <input type="submit" name="commit" value="作成" class="btn recruit-room-btn" data-disable-with="作成">
                </div>
              </div>
            </div>
          </form>
        </div>

      <% end %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>