<%= render partial: 'shared/header', locals: { page_name: @page_name } %>

<div class="recruits-confirmation" id="recruits-confirmation" data-recruit-id="<%= @recruit.id %>"></div>

<div class="main-room">

  <div class="chat-main" id="chat-main">
    <%= render partial: 'chat', collection: @messages, as: :message %>
  </div>

  <%= form_with model: @message, url: recruitment_messages_path(@recruit), class: "chat-bar", id: "chat-bar", local: true do |f| %>
    <div id="image-list"></div>
    <div class="chat-wrap">
      <div class="flex-area">
        <div class="flex-area-dummy" aria-hidden="true"></div>
        <%= f.text_area :text, placeholder: "メッセージを入力", class: "chat-area", rows: "1" %>
      </div>
      <label>
        <i class="fas fa-file-image file-attach-btn"></i>
        <%= f.file_field :image, class: "hidden" %>
      </label>
      <%= f.submit "送信" , class: "send-btn", id: "send-btn"%>
    </div>
  <% end %>

  <div class="back" id="back"></div>
</div>