<%= render partial: 'shared/header', locals: { page_name: @page_name } %>

<div class="main-room">
  <div class="chat-main" id="chat-main">
    <div class="other-chat-area">
      <div class="other-left-wrap">
        <%= image_tag "/images/test_image.png", class: "other-user-image" %>
      </div>
      <div class="other-center-wrap">
        <div class="other-user-name">ケンケン<span>ID:20</span></div>
        <div class="other-chat chat">こんにちはあああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</div>
      </div>
      <div class="other-raight-wrap">
        <div class="other-chat-time">21:36</div>
      </div>
    </div>
    <div class="my-chat-area">
      <div class="my-left-wrap">
        <div class="my-chat-time">22:53</div>
      </div>
      <div class="my-right-wrap">
        <div class="my-chat chat">おやすみなさいあああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</div>
      </div>
    </div>
    <div class="my-chat-area">
      <div class="my-left-wrap">
        <div class="my-chat-time">22:53</div>
      </div>
      <div class="my-right-wrap">
        <div class="my-chat chat">おやすみなさいあああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</div>
      </div>
    </div>
    <div class="other-chat-area">
      <div class="other-left-wrap">
        <%= image_tag "/images/test_image.png", class: "other-user-image" %>
      </div>
      <div class="other-center-wrap">
        <div class="other-user-name">ケンケン<span>ID:20</span></div>
        <div class="other-chat chat">こんにちはあああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</div>
      </div>
      <div class="other-raight-wrap">
        <div class="other-chat-time">21:36</div>
      </div>
    </div>
    <div class="other-chat-area">
      <div class="other-left-wrap">
        <%= image_tag "/images/test_image.png", class: "other-user-image" %>
      </div>
      <div class="other-center-wrap">
        <div class="other-user-name">ケンケン<span>ID:20</span></div>
        <div class="other-chat chat">こんにちはあああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</div>
      </div>
      <div class="other-raight-wrap">
        <div class="other-chat-time">21:36</div>
      </div>
    </div>
    <div class="other-chat-area">
      <div class="other-left-wrap">
        <%= image_tag "/images/test_image.png", class: "other-user-image" %>
      </div>
      <div class="other-center-wrap">
        <div class="other-user-name">ケンケン<span>ID:20</span></div>
        <div class="other-chat chat">こんにちはあああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</div>
      </div>
      <div class="other-raight-wrap">
        <div class="other-chat-time">21:36</div>
      </div>
    </div>
    <div class="other-chat-area">
      <div class="other-left-wrap">
        <%= image_tag "/images/test_image.png", class: "other-user-image" %>
      </div>
      <div class="other-center-wrap">
        <div class="other-user-name">ケンケン<span>ID:20</span></div>
        <div class="other-chat chat">こんにちはあああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</div>
      </div>
      <div class="other-raight-wrap">
        <div class="other-chat-time">21:36</div>
      </div>
    </div>
  </div>

  <div class="chat-bar">
    <div class="flex-area">
      <div class="flex-area-dummy" aria-hidden="true"></div>
      <textarea placeholder="メッセージを入力" class="chat-area" rows="1"></textarea>
    </div>
    <i class="fas fa-file-image file-attach-btn"></i>
    <div class="send-btn">送信</div>
  </div>

  <div class="back" id="back">
    <div class="popup center">
      <p>本当に削除しますか？</p>
      <div class="btn-wrap">
        <div class="btn return-btn" id="return">いいえ</div>
        <a rel="nofollow" data-method="delete" href="/recruitments/destroy" class="btn submit-btn" id="submit">はい</a>
      </div>
    </div>
  </div>
</div>