<%= render partial: 'shared/header', locals: { page_name: "フレンド" } %>

<div class="main">
  <div class="friend-container">
    <ul class="friend-tab-wrap">
      <li id="list-tab" class="friend-tab select-tab">フレンド一覧</li>
      <li id="applying-tab" class="friend-tab">フレンド申請中</li>
      <li id="approval-pending-tab" class="friend-tab">フレンド依頼</li>
      <li id="user-search-tab" class="friend-tab">ユーザー検索</li>
    </ul>

    <div id="form-container">
      <%= form_with(url: users_search_path, local: true, method: :get, id: "search-form", class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "ユーザーIDを入力", id: "search-input", class: "search-input" %>
        <%= form.submit "検索", id: "search-btn", class: "search-btn", disabled: :true %>
      <% end %>
    </div>

    <div id="list-wrap" class="list-wrap">
      <% if @friends.present? %>
        <% @friends.each do |friend| %>
          <div class="list-user-content">
            <%= image_tag friend.image.variant(combine_options:{gravity: :center, resize:"75x75^", crop:"75x75+0+0"}).processed, id: "list-#{friend.id}-image", class: "list-user-image" %>
            <div class="list-user-name">
              <%= friend.name %><span>ID:<%= friend.id %></span>
            </div>
            <div class="list-user-heart">
              <% if current_user.follower?(friend) %>
                <i class="fas fa-heart fa-3x good" data-id=<%= friend.id %>></i>
              <% else %>
                <i class="fas fa-heart fa-3x" data-id=<%= friend.id %>></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="empty-message">フレンドが存在しません</p>
        <p class='guide'>※お互いにハートを付けることで、フレンドとして登録されます。</p>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>