<% current_user_recruit = current_user.recruit? %>
<% current_user_entry = current_user.entry? %>

<header>
  <div class="header-wrap">
    <div class="left">
      <%= link_to "instakt", root_path %>
      <% if page_name.present? %>
        <span id="page_name"><%= page_name %></span>
      <% end %>
    </div>

    <div class="right">
      <% if user_signed_in? %> <%# ログイン状態であれば %>
        <%= render partial: "shared/header_recruit_index", locals: {current_user_recruit: current_user_recruit, current_user_entry: current_user_entry} %>
        <%= render partial: "shared/header_recruit_show", locals: {current_user_recruit: current_user_recruit, current_user_entry: current_user_entry} %>
        
        <div class="user-icon-wrap">
          <%= image_tag current_user.image.variant(combine_options:{gravity: :center, resize:"50x50^", crop:"50x50+0+0"}).processed, id: "user-icon" %>
          <div class="menu-list" id="user-menu">
            <%= link_to "プロフィール", profile_path, class: "menu" %>
            <%= link_to "フレンド", friends_path, class: "menu" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render 'shared/flash_messages' %>
</header>