<header>
  <div class="header-wrap">
    <div class="left">
      <%= link_to "instakt", root_path %>
      <% if page_name.present? %>
        <span><%= page_name %></span>
      <% end %>
    </div>

    <div class="right">
      <% if user_signed_in? %>
        <% unless Recruit.recruit?(current_user) %>
          <div class="new-recruit-wrap">
            <div class="btn new-recruit_btn" id="new-recruit_btn">飲募する</div>
            <ul class="menu-list" id="recruit-menu">
              <li class="menu" id="recruit-later">これから</li>
              <li class="menu" id="recruit-now">いま</li>
            </ul>
          </div>      
        <% end %>
      <div class="user-icon-wrap">
        <%= image_tag current_user.image.variant(combine_options:{gravity: :center, resize:"50x50^", crop:"50x50+0+0"}).processed, id: "user-icon" %>
        <div class="menu-list" id="user-menu">
          <%= link_to "プロフィール", profile_path, class: "menu" %>
          <%= link_to "フレンド", friends_path, class: "menu" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <%= render 'shared/flash_messages' %>
</header>