<!DOCTYPE html>
<html>
  <head>
    <title>Instakt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
     <%= favicon_link_tag('icon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
